page-ayuda {
    .ing{
        width: 40rem;
      }

      .inter{
        width: 8rem;
      }

      .ing1{
        max-width: 2rem;
        right: 1rem;
        position: relative;
      }

      .text{
        text-align: -webkit-center;
      }
      ion-card img {
        display: block;
        width: 178%;
    }
}
